{% extends 'base.html' %} {% block title %} Email {% endblock %} {% block body
%} {% include 'header.html' %}
<div class="email-l-form">
  <form method="post" class="form">
    <h1 class="email-form__title">Send Email Nofitication</h1>
    <p>Please consider to send again after you change the due date.</p>
    <div class="form__div">
      <input
        type="text"
        name="email_address"
        placeholder=" "
        class="form__input"
        value="{{ request.form['email_address']}}"
      />
      <label for="" class="form__label">Email Address</label>
    </div>
    <input type="submit" value="Send" class="button button-4" />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/" class="button button-2">Cancel</a>
  </form>
</div>

{% endblock %}
