body {
    background-color: #013;
    color: #fff;
    font-family: 'Inter', sans-serif;
}


/* navigation */
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
  
nav li {
    text-decoration: none;
    color: #0ff;
    font-size: 24px;
}

li a:visited {
    color: #fa4;
}

li a:hover {
    color: #ff0;
}

.sticky {
    background-color: #05a;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}


/* table styling */
th, td {
    border: 2px outset #fff;
}

table {
    background-color: #036;
}

thead {
    background-color: #05a;
    font-size: 24px;
}

tbody {
    font-size: 16px;
}

th {
    text-align: center;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 20px;
    width: 100px;
}

tbody > tr:hover {
    color: #0c8;
}

/* edit and delete buttons */
.sidebyside {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.Bedit, .Bdelete {
    color: #013;
    border-radius: 8px;
}

.Bedit {
    background-color: #fb0;
}

.Bdelete {
    background-color: #f45;
}

/* create page */
.Bconfirm, .Bcancel {
    color: #013;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.Bconfirm {
    background-color:#0c8;
}

.Bcancel {
    background-color: #f45;
}

.forms {
    display: inline-grid;
    
}