{% extends 'base.html' %}

{% block title %} Homework Tracker {% endblock %}

{% block body %}
    {% for message in get_flashed_messages() %}
    {% if message %}
    <div class="flash">{{ message }}</div>
    {% else %}
    {% endif %}
    {% endfor %}
<header>
    <h1><a href="/index" class="">Homework Tracker</a></h1>
    <div class="navbar-btn-container">
        {% if g.user %}
        {% if request.path != '/' %}
        {% if request.path != '/about' %}
        <a href="/about" class="button button-5">About</a>
        {% endif %}
        {% endif %}
        <a href="/index" class="button button-6">Home</a>
        <a href="/create" class="button button-3">Create</a>
        <a href="{{ url_for('auth.logout') }}" class="button button-4">Log Out</a>
        {% else %}
        <a href="{{ url_for('auth.register') }}" class="button button-4">Register</a>
        <a href="{{ url_for('auth.login') }}" class="button button-4">Log In</a>
        {% endif %}
    </div>
</header>

{% endblock %}