*, ::before, ::after {
    /*https://www.w3schools.com/cssref/css3_pr_box-sizing.asp*/
    box-sizing: border-box;
}

:root {
    --background-color-app: #F5F5F5;
    /* TABLE COLORS */
    --even-table-row: #dddddd;
    --odd-table-row: #edeef1;
    --th-bgcolor: #000;
    --th-font-color: #fff;

    /* Font colors  */
    --light: #fff;
    --dark: #000;

    /* Button colors  */
    --input-field-border: #1A73E8;
    --input-color: #80868B;
    --border-color: #DADCE0;
    --body-font: 'Inter', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;
    --button-light-orange: #f0ad4e;
    --button-dark-orange: #ff9100;
    --button-light-red: #d9534f;
    --button-dark-red: #ff0800;
    --button-light-green: #0bd80b;
    --button-dark-green: #5cb85c;
    --button-dark-blue: #0275d8;
    --button-light-blue: #0088ff;
    --button-light-grey: #3e4244;
    --button-dark-grey: #1a1b1b;
    
    /* Flash warnings abkcground color */
    --flash-warning-red: rgb(251, 102, 102);

    /* Confirmation page shadows */
    --light-shadow: ;
    --dark-shadow: ;

    /* Form colors  */
    --input-field: white;
    --input-font: black;
    --calendar-picker-invert: invert(0.0);
}

:root.dark-mode {
    --background-color-app: #121212;
    /* TABLE COLORS */
    --even-table-row: #1f1f1f;
    --odd-table-row: #131313;
    --th-bgcolor: #000;
    --border-color: #000;
    --th-font-color: #fff;


    /* Font colors  */
    --light: #000;
    --dark: #fff;

    /* Button colors  */
    --input-field-border: #fff;
    --input-color: #80868B;
    --body-font: 'Inter', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;
    --button-light-orange: #d4cd69;
    --button-dark-orange: #FFF89A;
    --button-light-red: #ff6961;
    --button-dark-red: #ff5047;
    --button-light-green: #C1E1C1;
    --button-dark-green: #89e089;
    --button-dark-blue: #AAFFFE;
    --button-light-blue: #5ebdbb;
    --button-light-grey: #CE9DD9;
    --button-dark-grey: #ae5fc0;
    
    /* Flash warnings abkcground color */
    --flash-warning-red: #CF6679;

    /* Confirmation page shadows */
    --light-shadow: ;
    --dark-shadow: ;

    /* Form colors  */
    --input-field: black;
    --input-font: white;
    --calendar-picker-invert: invert(0.9);
}

body {
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color-app);
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    height: 100vh;
    color: var(--dark);
}

/*Header*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 18px;
    background-color: var(--background-color-app);
    height: 15vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-right: auto;
}

/*Table*/
table {
    width: 80%;
    /*https://www.w3schools.com/cssref/pr_border-collapse.asp*/
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}


thead th {
    /*https://www.w3schools.com/css/css_positioning.asp*/
    position: sticky;
    top: 0;
    background-color: var(--th-bgcolor);
    color: var(--th-font-color);
    font-size: 25px;
}

th,
td {
    border-bottom: 1px solid var(--border-color);
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
}

/*https://www.w3schools.com/cssref/sel_nth-child.asp*/
tr:nth-child(even) {
    background-color: var(--even-table-row);
}

tr:nth-child(odd) {
    background-color: var(--odd-table-row);
}

/*https://www.w3schools.com/cssref/sel_hover.asp*/
tr:hover td {
    color: #44b478;
    cursor: pointer;
    background-color: var(--light);
}

/*Buttons*/
/* .button-container {
    display: flex;
    justify-content: flex-start;
    align-items: initial;
    gap: 4.4px;
} */

.button {
    border: none;
    padding: 7px 17px;
    border-radius: 20px;
    color: var(--light);
    display: inline-block;
    font-size: medium;
    text-decoration: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--dark);
}


.button-1 {
    background-color: var(--button-dark-orange);
    font-weight: bold;
}

.button-1:hover {
    background-color: var(--button-light-orange);
}

.button-2 {
    background-color: var(--button-light-red);
    font-weight: bold;
}

.button-2:hover {
    background-color: var(--button-dark-red);
}

.button-3 {
    background-color: var(--button-dark-green);
    margin-top: 5px;
    font-weight: bold;
}

.button-3:hover {
    background-color: var(--button-light-green);
}

.button-4 {
    background-color: var(--button-dark-blue);
    font-weight: bold;
}

.button-4:hover {
    background-color: var(--button-light-blue);
}

.button-5 {
    background-color: var(--button-light-grey);
    font-weight: bold;
}

.button-5:hover {
    background-color: var(--button-dark-grey);
}

/*===== FORM =====*/

.l-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 360px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.form__title {
    font-weight: 400;
    margin-top: -1rem;
    margin-bottom: 3rem;
}

.form__div {
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}

.form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
    color: var(--input-font);
}

.form__label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: var(--background-color-app);
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
}

.form__button {
    display: block;
    margin-left: auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--input-field-border);
    color: rgb(202, 0, 0);
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}

.form__button:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

/*Input focus move up label*/
.form__input:focus+.form__label {
    top: -.5rem;
    left: .8rem;
    color: var(--input-field-border);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

/*Input focus sticky top label*/
.form__input:not(:placeholder-shown).form__input:not(:focus)+.form__label {
    top: -.5rem;
    left: .8rem;
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

/*Input focus*/
.form__input:focus {
    border: 1.5px solid var(--input-field-border);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    /* https://stackoverflow.com/questions/62162645/change-color-of-chromes-calendar-icon-in-html-date-input */
    cursor: pointer;
    filter: var(--calendar-picker-invert);
}

/*===== ABOUT =====*/
.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.abt_main {
    width: 60%;
    padding: 4rem 2rem;
    border-radius: 1rem;
    /* box-shadow: 0 10px 25px rgba(92, 99, 105, .2); */
}

.abt_title {
    font-weight: 600;
    font-size: 36px;
    margin-top: -2rem;
    margin-bottom: 1rem;
}

.abt_sub {
    font-weight: 600;
    font-size: 32px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.abt_p {
    font-size: 18px;
    line-height: 1.5;
}

.plist {
    list-style-type: circle;
}

/*Welcome page*/

.welcome {
    text-align: center;
}

.space {
    padding: 3vh 0vh 6vh 0vh;
    display: flex;
    align-items: center;
}

/* FLASH ERROR MESSAGES */

.flash {
    width: 100%;
    padding: 1em;
    background: var(--flash-warning-red);
    color: black;
    text-align: center;
    font-weight: bold;
}

/* CONFIRMATION BOX AND DELETE CONFIRMATION BOX */
 /*Confirmation page styling*/
 .confirm_div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
  }

  .confirm_box{
    width: 360px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92,99,105,.2);
    position: absolute;
  }
  .confirm_box h1{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 30px;
  }

  .confirm_box p {
    margin: 30px 0px 30px;
  }

  .confirm_box img {
    width: 100px;
    margin-top: -10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }



  /*Delete confirmation*/
  .del_confirm_box{
    width: 360px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92,99,105,.2);
    position: absolute;
  }
  .del_confirm_box h1{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 30px;
  }

  .del_confirm_box p {
    margin: 30px 0px 30px;
  }

  .del_confirm_box img {
    width: 100px;
    margin-top: -10px;
    border-radius: 50%;
  }