{% extends 'base.html' %}

{% block title %} Create {% endblock %}

{% block body %}

<div class="header_fixed">
    {% include 'header.html' %}
</div>
<div class="about">
    <div class="abt_main">
        <h1 class="abt_h">I've seen your kind, time and time again.</h1>
        <div class="abt_p">
            I've seen your kind, time and time again.
            Every fleeing man must be caught. Every secret must be unearthed.
            Such is the conceit of the self-proclaimed seeker of truth.
            But in the end, you lack the stomach.
            For the agony you'll bring upon yourself...
            I've seen your kind, time and time again.
            Every fleeing man must be caught. Every secret must be unearthed.
            Such is the conceit of the self-proclaimed seeker of truth.
            But in the end, you lack the stomach.
            For the agony you'll bring upon yourself...
            I've seen your kind, time and time again.
            Every fleeing man must be caught. Every secret must be unearthed.
            Such is the conceit of the self-proclaimed seeker of truth.
            But in the end, you lack the stomach.
            For the agony you'll bring upon yourself...
        </div>

        <h1 class="abt_h">Many monarchs have come and gone.</h1>
        <div class="abt_p">
            Many monarchs have come and gone.
            One drowned in poison, another succumbed to flame.
            Still another slumbers in a realm of ice.
            Not one of them stood here, as you do now.
            You, conqueror of adversities.
            Give us your answer.
            I lost everything, but remained here, patiently.
            The throne will certainly receive you.
            But the question remains…
            What do you want, truly?
            Light? Dark? Or something else entirely…
            There is no path.
            Beyond the scope of light, beyond the reach of Dark…
            …what could possibly await us?
            And yet, we seek it, insatiably…
            Such is our fate.
            Many monarchs have come and gone.
            One drowned in poison, another succumbed to flame.
            Still another slumbers in a realm of ice.
            Not one of them stood here, as you do now.
            You, conqueror of adversities.
            Give us your answer.
            I lost everything, but remained here, patiently.
            The throne will certainly receive you.
            But the question remains…
            What do you want, truly?
            Light? Dark? Or something else entirely…
            There is no path.
            Beyond the scope of light, beyond the reach of Dark…
            …what could possibly await us?
            And yet, we seek it, insatiably…
            Such is our fate.
            Many monarchs have come and gone.
            One drowned in poison, another succumbed to flame.
            Still another slumbers in a realm of ice.
            Not one of them stood here, as you do now.
            You, conqueror of adversities.
            Give us your answer.
            I lost everything, but remained here, patiently.
            The throne will certainly receive you.
            But the question remains…
            What do you want, truly?
            Light? Dark? Or something else entirely…
            There is no path.
            Beyond the scope of light, beyond the reach of Dark…
            …what could possibly await us?
            And yet, we seek it, insatiably…
            Such is our fate.
        </div>
    </div>

</div>

{% endblock %}