{% extends 'base.html' %}

{% block title %} Create {% endblock %}

{% block body %}

<div class="header_fixed">
    {% include 'header.html' %}
    <form action="/homework" method="post" >
        <div class="form-group">
            <input type="text" name="course" placeholder="Course" class="form-control" />
        </div>
        <div class="form-group">
            <input type="text" name="name" placeholder="Name of Assignment" class="form-control" />
        </div>
        <div class="form-group">
            <input type="text" name="type" placeholder="Type of Assignment" class="form-control" />
        </div>
        <div class="form-group">
            <input type="text" name="description" placeholder="Description" class="form-control" />
        </div>  
        <div class="form-group">
            <input type="text" name="duedate" placeholder="Due Date" class="form-control" />
        </div>  
        <input type="submit" value="Add Assignment" class="btn btn-primary" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </form>

</div>

{% endblock %}