<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<html>

<head>

    <title>Week 9 flask</title>
</head>

<body>
    <div class="container">
        <table style="width:100%">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for homework in homeworkdata %}
                <tr>
                    <td>
                        {{ homework.Course }}
                    </td>
                    <td>
                        {{ homework.Type }}
                    </td>
                    <td>
                        {{ homework.Description }}
                    </td>
                    <td>
                        {{ homework.DueDate }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>