{% extends 'base.html' %}

{% block title %} Tracker App {% endblock %}

{% block body %}

<div class="header_fixed">
    {% include 'header.html' %}
    <table>
        <thead>
            <tr>
                <th>Course</th>
                <th>Type</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for homework in homeworkdata %}
            <tr>
                <td>{{ homework.Course }}</td>
                <td>{{ homework.Type }}</td>
                <td>{{ homework.Description }}</td>
                <td>{{ homework.DueDate }}</td>
                <td>
                    <div class="button-container">
                        <a class="button button-1">Edit</a>
                        <a class="button button-2">Delete</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}