<html>
<head>
    <!DOCTYPE html>
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Week 9 flask</title>
</head>

<body>
    <header>
        <a href="http://127.0.0.1:5000" class="navigation" >Homepage</a>
        <a href="http://127.0.0.1:5000/create" class="navigation">Create</a>
    </header>
    <div class="container">
        <table style="width:95%">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Completed?</th>
                    <th>Functions</th>
                </tr>
            </thead>
            <tbody>
                {% for homework in homeworkdata %}
                <tr>
                    <td>
                        {{ homework.course }}
                    </td>
                    <td>
                        {{ homework.name }}
                    </td>
                    <td>
                        {{ homework.typehw }}
                    </td>
                    <td>
                        {{ homework.description }}
                    </td>
                    <td>
                        {{ homework.duedate }}
                    </td>
                    <td>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td class="bottun_col">
                        <button class="edit" type="button">Edit</button>
                        <button class="delete" type="button">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>