{% extends 'base.html' %}

{% block title %} Create {% endblock %}

{% block body %}

<div class="header_fixed">
    {% include 'header.html' %}
</div>
<div class="welcome">
    <h1 class="header-text">Hello and welcome to our web application.</h1>
    <p>Please find the buttons to access your assignments in the top right corner</p>
    <p class="space"></p>
    <!--https://www.w3schools.com/howto/howto_css_login_form.asp-->
    <form action="action_page.php" method="post">
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
</div>

{% endblock %}